{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}
{% block body %}
    <form action="{% url 'save'%}" method="POST">
        {% csrf_token %}
        <label for="title">Title: </label>
        <input type="text" name="title" id=""> {% if error %} <h1>{{title}} encyclopedia is already found</h1> {% endif %}
        <br>
        <textarea placeholder="enter your informations here" name="info" ></textarea>
        <br>
        <input type="submit" value="Save">
    </form>
{% endblock %}
